/* General styles */

body {
  font-family: "raleway";
  color: black;
}

.body-title {
  text-align: center;
  font-size: 3.5rem;
  padding: 7% 0;
}

.sub-title {
  color: rgb(250, 212, 221);
}

/* Navigation bar */

.navbar {
  background-color: white;
  padding-left: 3%;
}

.navbar-nav {
  padding-top: 5px;
}

.nav-link {
  color: black;
  font-family: "raleway";
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 3%;
  letter-spacing: -10;
}

.nav-link:hover {
  text-shadow: 0 2px 2px rgba(250, 248, 248, 0.123);
}

.navbar-toggler:focus {
  box-shadow: inherit;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:visited {
  box-shadow: 0 0 1px 1px rgba(0, 0.1, 0.1, 0.123);
}

/* Title and picture */

#title {
  margin: 7% 15%;
}

.title-box {
  text-align: center;
}

.title-image {
  width: 70%;
  height: auto;
  margin: 5% 0;
  box-shadow: 0 3px 3px rgba(0, 0.2, 0, 0.2);
}

.title {
  padding-top: 20%;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -10;
  line-height: 1.5;
}

/* Feature box */
#features {
  padding: 5% 10% 10% 10%;
  background-color: #ffffff;
}

.feature-box {
  text-align: center;
  padding: 3%;
}

.feature-btn {
  font-weight: 200;
  background-color: rgba(250, 248, 248, 0.123);
  color: grey;
  border: rgba(240, 128, 128, 0.493) solid 1px;
}

.feature-btn:hover,
.feature-btn:focus,
.feature-btn:active {
  box-shadow: inherit;
  background-color: rgba(240, 128, 128, 0.493);
  border: none;
}

.icon {
  color: rgb(240, 128, 128);
  padding: 7% 15%;
}

.icon:hover {
  color: rgb(167, 89, 89);
}

.diploma-title {
  padding-top: 15px;
}

.on-going {
  font-style: italic;
  font-weight: 200;
  color: gray;
}

.certificate-link:hover {
  text-decoration: none;
  color: black;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.certificate-link,
.certificate-link:active,
.certificate-link:visited,
.certificate-link:focus {
  text-decoration: none;
  color: black;
}

/* Footer */
#footer {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  padding: 7% 15%;
  text-align: center;
  color: white;
  background-color: rgba(240, 128, 128, 0.493);
}

.social-icon,
.social-icon:visited {
  color: white;
}

.social-icon:hover {
  color: rgba(240, 128, 128, 0.493);
}

.social-icon:focus,
.social-icon:active {
  box-shadow: inherit;
  color: white;
}

/* About */

.about-container {
  padding: 7% 15%;
}

.about-box {
  padding: 5% 0;
}

.about-picture {
  width: 100%;
  height: auto;
  border-radius: 100%;
  padding: 0 5%;
}

.about-p {
  font-family: "roboto", sans-serif;
  line-height: 1.5;
  text-align: justify;
}

.fun-fact {
  font-family: "roboto", sans-serif;
  color: grey;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: left;
}

/* Experience */
#experience {
  padding: 7% 15%;
  background-color: rgba(240, 128, 128, 0.493);
  color: white;
}

.experience-h3 {
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
}

.experience-h4 {
  font-size: 1.3rem;
  padding: 10px 0;
}

.experience-h5 {
  font-size: 0.9rem;
  color: grey;
  padding: 0;
  text-align: center;
}

.experience-subtitle {
  padding: 25px 0 10px 0;
}

.accordion-body {
  text-align: center;
}

.accordion-button,
.accordion-button::after,
.accordion-button:active,
.accordion-button:visited {
  color: black;
}

.accordion-button:focus {
  box-shadow: inherit;
}

.accodion-button:not(.collapsed) {
  color: inherit;
  color: black;
}

.accodion-button:not(.collapsed)::after {
  filter: brightness(0%);
}

.accordion-button:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: black;
}

.accordion {
  color: black;
  margin-bottom: 5%;
}

/* Cards */
.card-list {
  list-style: none;
  text-decoration: none;
  text-align: left;
}

.card-text {
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 0;
  font-weight: bold;
}

.edu-card {
  width: 90%;
  margin: 5%;
  padding: 0;
}

.edu-link {
  text-align: center;
  text-decoration: none;
  color: lightgray;
}

.edu-link:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: black;
}

.extra-credit {
  font-size: 0.8rem;
  font-style: italic;
  color: grey;
  font-weight: 200;
}

.education1-card {
  height: 490px;
}

.education2-card {
  height: 230px;
}

.employer {
  font-style: bold;
}
